{% extends 'layout.html' %}
{% block body %}
<div class="grid-75 centered">
    <h1>Edit Profile -
        <a href="{% url 'accounts:profile' pk=user.username %}">
            {{ user.username }}
        </a>
    </h1>
    {% if user.profile.avatar %}
    <div class="grid-25">
        <img src="{{ settings.MEDIA_ROOT }}{{ user.profile.avatar.url }}">
    </div>
    {% endif %}
    <div class="grid-75 centered">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Update">
        </form>
    </div>
    {% endblock %}