{% extends 'layout.html' %}
{% load app_filters %}
{% block body %}
<div class="grid-75 centered">
    <div class="grid-35 center">
        <p>
            <h4>
                {% if profile.avatar %}
                <img src="{{ settings.MEDIA_ROOT }}{{ profile.avatar.url }}">
                {% else %}
                <a href="{% url 'accounts:avatar_upload'%}">
                    [ Upload Avatar ]
                </a>
                {% endif %}
                <br />
                {{ profile.account.username }}
            </h4>
        </p>
    </div>
    <div class="grid-65">
        <p>
            <h1>
                N:
                {{ profile.first_name }}
                {{ profile.last_name }}
            </h1>
            <h2>
                E:
                <a href="mailto:{{ profile.email }}">
                    {{ profile.email }}</a>
                <br />
                GH:
                <a href="https://github.com/{{ profile.github }}" target="_blank">
                    github.com/{{ profile.github }}</a>
                <br />
                LI:
                <a href="https://www.linkedin.com/in/{{ profile.linkedin }}/" target="_blank">
                    linkedin.com/in/{{ profile.linkedin }}</a>
            </h2>
            <h3>
                Specialty: {{ profile.specialty | title }}
                <br />
                Dob: {{ profile.dob }}
                <br />
                <a href="{% url 'accounts:bio' pk=profile.account.username %}">
                    [ Bio ]
                </a>
                {% if profile.skills.all %}
                <h4>
                    SKILLS: <BR> ||
                    {% for skill in profile.skills.all %}
                        <a href="">
                            {{ skill.title }}
                        </a>
                        ||
                    {% endfor %}
                </h4>
                {% endif %}
                <br>
                <a class="button button-primary" href="{% url 'teams:add_skill' %}">
                    Add Skill
                </a>
                    <div class="circle--secondary--module">
                        <h4>My Projects</h4>
                        <ul class="circle--link--list">
                            {% for role in profile.role.all %}
                            <li><a href="{% url 'teams:project' pk=role.project.id %}">{{ role.title }} on {{ role.project.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

            </h3>
        </p>
    </div>
</div>
{% endblock %}
