{% extends 'layout.html' %}
{% block body %}
    <div class="grid-25">
        nav here maybe?
    </div>
    <div class="grid-75">
        <h1>{{ H1 }}</h1>
        {% if user.profile.avatar %}
        <img src="{{ settings.MEDIA_ROOT }}{{ user.profile.avatar.url }}">
        {% endif %}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Update">
        </form>
    </div>
{% endblock %}
