/*
Custom styles for User Profile
*/
.center {
	margin: auto;
	text-align: center;
}

.grid-75 img {
	border-radius: 50%;
	max-height: 100%;
	max-width: 100%;
	max-height: 300px;
	max-width: 300px;
}

.ui-datepicker {
	background-color: white;
	border: 1px solid black;
	box-shadow: 1em black;
	padding: 0.5em;
}
