{% extends 'layout.html' %}
{% load app_filters %}
{% block body %}
    <h1>{{ position.title }}</h1>
    <p>{{ position.description }}</p>
    {% if position.desired_skills.all %}
        <h2>
            Desired Skills for this position:
        </h2>
        {% for skill in position.desired_skills.all %}
        <button class="button button-primary">
            {{ skill.title }}
        </button>
        
        {% endfor %}
    {% endif %}
    {% if position.incumbent is None %}
    <hr>
        <a class="button button-primary" href="{% url 'teams:apply_for_position' pk=position.id %}">Apply Now</a>
    {% else %}
        <p>current incumbent: {{ position.incumbent }}</p>
    {% endif %}
{% endblock %}